@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:wght@400;500&family=Pacifico&family=Poppins:wght@100;200;300;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif; 
}
body{

   
   

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient( #128C7E 0%,#128C7E 130px,#d9d9d9 130px,#d9d9d9 100%);
}
.container{
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh  -  40px);
    background: #fff;
    box-shadow: 0 1px 1px 0   rgba(0,0,0,0,06),0 2px 5px 0 rgba(0, 0, 0, 0,06);
    display: flex;
}
.container .left-side{
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0,0,2);

}
.container .right-side{
    position: relative;
    flex: 70%;
    background: #e5ddd5;

}
.container .right-side::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images.pro4/ZWbv3h.jpg);
    opacity: 0.06;

}
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.user-img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    size: 20px;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.nav-icons{
    display: flex;
}
.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.2em;
    margin-left: 22px;

}
.search-chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6 15px;
}
.search-chat div{
    width: 100%;
}
.search-chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 55px;
}
.search-chat div input::placeholder{
    color: #bbb;
}
.search-chat div ion-icon{
    position: absolute;
    left:30px;
    top: 14px;
    font-size: 1.2em;
}
.chat-list{
    position: relative;
    height: calc( 100% - 110px);/*60+50=110*/
    overflow-y: auto;
    
}
.chat-list.block{
    
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0,06);
}
.chat-list.block.imgbx{
    position: relative;
    width: 45px;
    height: 45px; 
    overflow: hidden;
    border-radius: 50%;
    
}

